{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">DashBoard</h1>
    </div>
{% endblock %}
