.agent-section {
  background: #F2F4F5;
  padding-bottom: 55px;
  padding-top: 4em;
  overflow: hidden;
}

.agent-section.about-page {
  background: #ffffff;
}

.agent-section.about-page .agent-carousel.owl-carousel .owl-nav button {
  color: #2cbdb8;
  border-radius: 0;
  border-color: #e5e5e5;
}

.agent-section .section-title {
  margin-bottom: 30px;
}

.agent-carousel.owl-carousel .owl-nav button[type=button] {
  width: 26px;
  height: 60px;
  border: 2px solid #D9DBDC;
  display: inline-block;
  font-size: 18px;
  color: #aaaab3;
  border-radius: 2px;
  position: absolute;
  left: -42px;
  top: 50%;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.agent-carousel.owl-carousel .owl-nav button[type=button].owl-next {
  left: auto;
  right: -42px;
}

.agent-carousel.owl-carousel .owl-nav button[type=button]:hover {
  background: #707079;
  color: #ffffff;
  border-color: #707079;
}

.agent-carousel .owl-stage-outer {
  padding-bottom: 45px;
  padding-top: 20px;
}

.agent-carousel.owl-carousel .owl-item img {
  display: inline-block;
}

.agent-carousel .col-lg-3 {
  max-width: 100%;
}

.agent-carousel .single-agent {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 15px 5px rgba(12, 35, 34, 0.05);
  box-shadow: 0 8px 15px 5px rgba(12, 35, 34, 0.05);
  padding: 40px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.agent-carousel .single-agent:hover {
  -webkit-box-shadow: 0 4px 15px rgba(12, 35, 34, 0.2);
  box-shadow: 0 4px 15px rgba(12, 35, 34, 0.2);
}

.agent-carousel .single-agent:hover .sa-pic .hover-social a.twitter {
  right: -15px;
  opacity: 1;
  visibility: visible;
}

.agent-carousel .single-agent:hover .sa-pic .hover-social a.instagram {
  right: -15px;
  opacity: 1;
  visibility: visible;
}

.agent-carousel .single-agent:hover .sa-pic .hover-social a.facebook {
  bottom: 6px;
  opacity: 1;
  visibility: visible;
}

.agent-carousel .single-agent .sa-pic {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.agent-carousel .single-agent .sa-pic img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.agent-carousel .single-agent .sa-pic .hover-social {
  position: absolute;
  right: 0;
  bottom: 0;
}

.agent-carousel .single-agent .sa-pic .hover-social a {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #222222;
  border-radius: 50%;
}

.agent-carousel .single-agent .sa-pic .hover-social a.twitter {
  background: #29BFE8;
  position: absolute;
  right: -40px;
  bottom: 100px;
  -webkit-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  opacity: 0;
  visibility: hidden;
}

.agent-carousel .single-agent .sa-pic .hover-social a.instagram {
  background: #F74D91;
  position: absolute;
  right: -40px;
  bottom: 50px;
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
  opacity: 0;
  visibility: hidden;
}

.agent-carousel .single-agent .sa-pic .hover-social a.facebook {
  background: #3973E8;
  position: absolute;
  right: 15px;
  bottom: -4px;
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
  opacity: 0;
  visibility: hidden;
}

.agent-carousel .single-agent h5 {
  font-size: 20px;
  color: #19191a;
  font-weight: 600;
  margin-top: 25px;
}

.agent-carousel .single-agent h5 span {
  display: block;
  font-size: 14px;
  color: #aaaab3;
  font-weight: 400;
  margin-top: 12px;
}
