/* DEFAULT CSS ----------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #707079;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
img {
  max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul, ol {
  padding: 0;
  margin: 0;
}
hr.rounded {
  margin-bottom: 2em;
}
/*---------------------
  Helper CSS
-----------------------*/
/*reveal */
.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0;
  transform: translateY(30px);
}
.reveal-loaded [class*="reveal"] {
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}
/* On ajoute du délai */
.reveal-loaded .reveal-2 {
  transition-delay: .1s;
}
.reveal-loaded .reveal-3 {
  transition-delay: .2s;
}
.reveal-loaded .reveal-4 {
  transition-delay: .3s;
}
.reveal-loaded .reveal-4 {
  transition-delay: .4s;
}
/*  Section */
.section-title {
  text-align: center;
  margin-bottom: 65px;
}
.section-title span {
  font-size: 14px;
  color: #aaaab3;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.section-title h2 {
  font-size: 44px;
  color: #19191a;
  font-weight: 600;
  position: relative;
  margin-top: 15px;
  padding-bottom: 34px;
}
.section-title h2:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  width: 80px;
  background: #2cbdb8;
  content: "";
  margin: 0 auto;
}
.home-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
  color: #fff;
}
.item {
  cursor: pointer;
  background: #ffffff;
  border: 3px solid #ffffff;
}
/*---------------------
  Intro Section
-----------------------*/
.howit-works {
  padding-top: 40px;
  padding-bottom: 62px;
}
.single-howit-works {
  text-align: center;
  margin-bottom: 20px;
}
.single-howit-works h4 {
  font-size: 22px;
  color: #19191a;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 32px;
}
/*---------------------
 Maquettes Section
-----------------------*/
.enter-modelkit-gallery {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.top-property-all {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2cbdb8;
  border: 2px solid #2cbdb8;
  padding: 12px 30px;
  display: inline-block;
  margin-top: 32px;
}
/*---------------------
  Video Section
-----------------------*/
.video-section {
  padding: 150px 0;
}
.video-text {
  text-align: center;
}
.video-text .play-btn {
  height: 70px;
  width: 70px;
  background: #2cbdb8;
  display: inline-block;
  border-radius: 50%;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 73px;
}
.video-text h4 {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 35px;
}
.video-text h2 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 600;
}
/*---------------------
  Hero
-----------------------*/
.hero-section {
  position: relative;
  padding-top: 4em;
}
.single-hero-item-properties {
  padding-top: 125px;
  height: 350px;
}

