/*---------------------
  Feature Section
-----------------------*/

.feature-section {
  background: #ffffff;
  padding-bottom: 70px;
  padding-top: 95px;
}

.feature-section .section-title {
  margin-bottom: 30px;
}

.feature-carousel.owl-carousel .owl-dots {
  text-align: center;
}

.feature-carousel.owl-carousel .owl-dots button {
  width: 14px;
  height: 14px;
  border: 2px solid #B6E3E3;
  border-radius: 50%;
  margin-right: 10px;
}

.feature-carousel.owl-carousel .owl-dots button.owl-dot.active {
  background: #2cbdb8;
  border-color: #2cbdb8;
}

.feature-carousel.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}

.feature-carousel .col-lg-4 {
  max-width: 100%;
}

.feature-carousel .owl-stage-outer {
  padding-bottom: 45px;
  padding-top: 20px;
}
.feature-carousel .feature-item:hover{
  cursor: pointer;
  opacity: 0.8;
}
.feature-carousel .feature-item {
  -webkit-box-shadow: 0 4px 15px 5px rgba(44, 44, 44, 0.05);
  box-shadow: 0 4px 15px 5px rgba(44, 44, 44, 0.05);
  background: #ffffff;
}

.feature-carousel .feature-item .fi-pic {
  height: 220px;
  position: relative;
}

.feature-carousel .feature-item .fi-pic .pic-tag {
  overflow: hidden;
  padding: 15px 15px 0 15px;
}

.feature-carousel .feature-item .fi-pic .pic-tag .f-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #E1481F;
  display: inline-block;
  padding: 4px 15px;
  float: left;
}

.feature-carousel .feature-item .fi-pic .pic-tag .s-text {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #2cbdb8;
  display: inline-block;
  padding: 4px 15px;
  float: right;
}

.feature-carousel .feature-item .fi-pic .feature-author {
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.feature-carousel .feature-item .fi-pic .feature-author .fa-pic {
  float: left;
  margin-right: 10px;
}

.feature-carousel .feature-item .fi-pic .feature-author .fa-pic img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.feature-carousel .feature-item .fi-pic .feature-author .fa-text {
  overflow: hidden;
  display: inline-block;
}

.feature-carousel .feature-item .fi-pic .feature-author .fa-text span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  line-height: 35px;
}

.feature-carousel .feature-item .fi-text .inside-text {
  text-align: center;
  padding: 26px;
}

.feature-carousel .feature-item .fi-text .inside-text h4 {
  font-size: 22px;
  color: #19191a;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature-carousel .feature-item .fi-text .inside-text ul {
  margin-bottom: 9px;
}

.feature-carousel .feature-item .fi-text .inside-text ul li {
  list-style: none;
  font-size: 14px;
  color: #636363;
  display: inline-block;
  margin-right: 20px;
}

.feature-carousel .feature-item .fi-text .inside-text ul li:last-child {
  margin-right: 0;
}

.feature-carousel .feature-item .fi-text .inside-text ul li i {
  color: #2cbdb8;
  margin-right: 4px;
}

.feature-carousel .feature-item .fi-text .inside-text h5.price {
  color: #19191a;
  font-weight: 600;
}

.feature-carousel .feature-item .fi-text .inside-text h5.price span {
  font-size: 12px;
  font-weight: 400;
  color: #aaaab3;
}

.feature-carousel .feature-item .fi-text .room-features {
  text-align: center;
  background: #1c1c1c;
  padding: 12px 0;
}

.feature-carousel .feature-item .fi-text .room-features li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 38px;
}

.feature-carousel .feature-item .fi-text .room-features li:last-child {
  margin-right: 0;
}

.feature-carousel .feature-item .fi-text .room-features li i {
  color: #2cbdb8;
  margin-right: 4px;
  display: inline-block;
}

.feature-carousel .feature-item .fi-text .room-features li p {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
}
