@font-face {
  font-family: 'skyfontregular';
  src: url('../fonts/skyfont-noncommercial-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SpecialElite-Regular';
  src: url('../fonts/SpecialElite-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'AveriaGruesaLibre-Regular';
  src: url('../fonts/AveriaGruesaLibre-Regular.ttf') format('woff')
}

@font-face {
  font-family: 'Galdeano-Regular';
  src: url('../fonts/Galdeano-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'PatrickHandSC-Regular';
  src: url('../fonts/PatrickHandSC-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'murberrynormal';
  src: url('../fonts/murberry-webfont.woff') format('woff');
}

@font-face {
  font-family: 'amsterdam1';
  src: url('../fonts/amsterdam-webfont.woff') format('woff');
}

@font-face {
  font-family: 'braxlinenarrow';
  src: url('../fonts/braxline-narrow-webfont.woff') format('woff');
}

@font-face {
  font-family: 'MontezRegular';
  src: url('../fonts/Montez-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'AdleryProBlockletter';
  src: url('../fonts/Typoliner-RW-Light.ttf') format('woff');
}

@font-face {
  font-family: 'the_chicken_noodleregular';
  src: url('../fonts/thechickennoodle-free-webfont.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
  url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal
}
