.footer-text {
  padding-top: 70px;
  padding-bottom: 35px;
}

.footer-text .footer-logo {
  margin-bottom: 30px;
}

.footer-text .footer-logo .logo {
  margin-bottom: 34px;
}

.footer-text .footer-logo .logo a {
  display: inline-block;
}

.footer-text .footer-logo p {
  margin-bottom: 25px;
}

.footer-text .footer-logo .newslatter-form {
  position: relative;
}

.footer-text .footer-logo .newslatter-form input {
  width: 100%;
  height: 46px;
  border: none;
  font-size: 16px;
  color: #aaaab3;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 20px;
}

.footer-text .footer-logo .newslatter-form input::-webkit-input-placeholder {
  color: #aaaab3;
}

.footer-text .footer-logo .newslatter-form input::-moz-placeholder {
  color: #aaaab3;
}

.footer-text .footer-logo .newslatter-form input:-ms-input-placeholder {
  color: #aaaab3;
}

.footer-text .footer-logo .newslatter-form input::-ms-input-placeholder {
  color: #aaaab3;
}

.footer-text .footer-logo .newslatter-form input::placeholder {
  color: #aaaab3;
}

.footer-text .footer-logo .newslatter-form button {
  background: #2cbdb8;
  border: 1px solid #2cbdb8;
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: absolute;
  right: 3px;
  top: 3px;
  display: inline-block;
}

.footer-text .footer-logo .newslatter-form button i {
  font-size: 18px;
  color: #ffffff;
}

.footer-text .footer-widget {
  margin-bottom: 30px;
  overflow: hidden;
}

.footer-text .footer-widget h4 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-text .footer-widget ul {
  width: 50%;
  float: left;
}

.footer-text .footer-widget ul li {
  list-style: none;
}

.footer-text .footer-widget ul li i {
  color: #2cbdb8;
}

.footer-text .footer-widget ul li a {
  font-size: 14px;
  color: #aaaab3;
  line-height: 36px;
}

.footer-text .footer-widget ul.social {
  width: 100%;
}

.footer-text .footer-widget ul.social li {
  position: relative;
  padding-left: 28px;
}

.footer-text .footer-widget ul.social li i {
  color: #aaaab3;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 10px;
}

.footer-text .footer-widget ul.social li a {
  line-height: 40px;
}

.footer-text .footer-widget ul.contact-option {
  width: 100%;
}

.footer-text .footer-widget ul.contact-option li {
  font-size: 14px;
  color: #aaaab3;
  line-height: 36px;
}

.footer-text .footer-widget ul.contact-option li i {
  margin-right: 4px;
}

.copyright-text {
  text-align: center;
  padding: 13px 0 15px;
  border-top: 1px solid #363636;
}

.copyright-text p {
  font-size: 14px;
  color: #707079;
  margin-bottom: 0;
}

.copyright-text p a {
  color: #2cbdb8;
}

.copyright-text p i {
  color: #c11;
}
